html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0 0 64px 0;
  padding-bottom: 64px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

:root {
  --bg-color: #F9F7F7;
  --primary: #DBE2EF;
  --secondary: #3F72AF;
  --third: #112D4E;
  --font-color: white;
}
