h2 {
  margin: 0;
}

.contributor {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  background-color: var(--third);
  color: var(--font-color);

  & > img {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    margin-right: 8px;
  }
}

.information-row {
  display: flex;
  font-size: 14px;

  & > p {
    margin: 0;
  }

  & > .commit {
    margin-right: 8px;
  }

  & > .addition {
    margin-right: 8px;
    color: #3FB950FF;
  }

  & > .deletion {
    color: #F85149FF;
  }
}
